body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

p.GitHub{
    font-size: 2em;
    margin: 0;
}

input {
    width: 100%;
    padding: 10px;
    margin:20px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.github-card {
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(145, 144, 144, 0.1);
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.info {
    margin-top: 10px;
}

.username {
    font-size: 1.5em;
    margin: 0;
}

.name {
    color: #a1a1a1;
    margin: 5px 0;
}

.details {
    margin: 5px 0;
    color: #898989;
}

.details span {
    font-weight: bold;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-size: 0.9em;
    color: #555;
}

footer p {
    margin: 0;
}